$font-color: #ffffff;
$theme-color: #000000;
$button-background-color: #e76f51;
$card-background-color: #ffffff;
$card-font-color: #292d33;
$button-font-color: #ffffff;
$input-border-color: #292d33;
$additional-color: #15553e;
$third-color: #e9c46a;
$error-color: #d62828;
